extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

//- TODO - Turn this into a table
//- (W11D4 Data-Driven Apps - Part 3)...
block content
  h1= title
  p Welcome to your Project Skeleton
  form(action="/users/logout", method='post')
   button(type="submit") Log Out
  div
    a(class='btn btn-success' href='/book/add' role='button') Add Book
  table(class='tasks-table')
    thead
      tr
        th Task Name
        th Description
        th Priority Start Date
        th Priority End Date

    tbody
      each task in tasks
        tr
          td= book.title
          td= book.author
          td= book.releaseDate
          td= book.pageCount
          td= book.publisher
          
